<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>

<body>
   <h1>Hello World!</h1>
   <p>Html coming through {{var}}</p>
   {% if bool_item %}
   <p>a random variable {{num}}</p>
   {% endif %}
   <ul>
      {% for i in list%}
      <li>
         value : {{i}} 
         {%if i|divisibleby:"2" %}
         <span>Even number</span>
         {%endif%}
      </li>
      {%endfor%}
      <p>This "some item" should be empty</p>

   </ul>
</body>

</html>